:root {
  --bgColor: #14171b;
  --secondaryBgColor: #0f1215;
  --btnColor: #a2ff46;
  --fontColor: #ffffff;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0px);
  }
}

/* Scrollbar styling */
.terms-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.terms-scrollbar::-webkit-scrollbar-track {
  background: #1e2126;
  border-radius: 10px;
}

.terms-scrollbar::-webkit-scrollbar-thumb {
  background: var(--btnColor);
  border-radius: 10px;
}

.container {
  width: 100%;
  max-width: 1280px;
}